<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" xmlns:th="www.thymeLeaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<head>
    <title th:text="${activityDetailDTO.getName()}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/activity/detail.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/home/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/editPicture/editPicture.css}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta type="text" name="csrf-token" th:content="${_csrf!=null?_csrf.token:''}"/>
    <meta type="text" name="csrf-header" th:content="${_csrf!=null?_csrf.headerName:'X-CSRF-Token'}"/>
</head>
<body>
<div layout:fragment="main-content">
    <div id="action-bar" class="col-12 px-0">
        <a th:href="@{/}"><i class="fa fa-arrow-left"></i> Back to home</a>
    </div>
    <div class="card" id="activity-detail">
        <div class="card-body px-0">
            <div id="detail-header" class="col-12 row mx-0">
                <h3 th:text="${activityDetailDTO.getName()}" id="detail-title"></h3>
                <button id="favorite" th:class="${activityDetailDTO.isFavorite()}? '':'none-favorite'">
                    <i class="fa fa-heart" id="favorite-icon"></i>
                </button>
                <div id="activity-rating">
                    <button class="row px-0 mx-0" data-toggle="modal" id="rate-button" data-target="#rateModal">
                        <div id="rating-star">
                            <i class="fa fa-star" id="star-filled"></i>
                            <i class="fa fa-star-o" id="star-empty"></i>
                            <i class="fa fa-star" id="star-removed"
                               th:style="'height: '+${activityDetailDTO.getRating()>0?(15+(1-(activityDetailDTO.getRating()/5))*65):100}+'%;'"></i>
                        </div>
                        <div id="rating-score" th:text="${activityDetailDTO.getRating()}"
                             th:class="'px-1'+${activityDetailDTO.getRating()>0?'':' d-none'}"></div>
                    </button>
                </div>
            </div>
            <p class="display-name"> Recommended by
                <span th:class="${userCreatedInfo.getLevelName()}"
                      th:text="${userCreatedInfo.getDisplayName()}"></span>
            </p>
            <th:block th:replace="activity/fragments/upload-picture"></th:block>
            <div th:if="${activityDetailDTO.address != null && activityDetailDTO.address.trim().length() != 0}"
                 class="d-flex mt-3 mb-3"><img src="/static/icons/location.png" class="address-icon" alt="mgm-go"><span
                    class="ml-2" th:text="${activityDetailDTO.address}"></span></div>
            <pre th:text="${activityDetailDTO.description}" class="card-text"></pre>
            <div class="d-flex justify-content-end">
                <button class="row px-0 mx-0 btn btn-light mr-2" data-toggle="modal" id="report-button"
                        data-target="#reportModal">
                    <img src="/static/icons/flag_report.png" class="address-icon" alt="mgm-go">
                </button>
                <a th:href="@{/activity/update/{activityId}(activityId=${activityId})}"
                   class="btn btn-primary text-right">Edit</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="rateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rateModalLabel">Rate this activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="activity-id" type="text" th:value="${activityDetailDTO.getId()}" hidden/>
                    <input id="user-rating" type="text" value="0" hidden/>
                    <div class="alert d-none" id="rate-return"></div>
                    <div class="justify-content-center" id="rate-stars">
                        <button class="fa fa-star rate-star" data-rating='1'></button>
                        <button class="fa fa-star rate-star" data-rating='2'></button>
                        <button class="fa fa-star rate-star" data-rating='3'></button>
                        <button class="fa fa-star rate-star" data-rating='4'></button>
                        <button class="fa fa-star rate-star" data-rating='5'></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="rate-save">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">Report this activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="activity-id-report" type="text" th:value="${activityDetailDTO.getId()}" hidden/>

                    <div class="alert d-none" id="report-return"></div>

                    <div id="message-log-report" class="justify-content-center">
                        <ul>
                            <li>This activity will be deleted if it has 5 reports.</li>
                            <li>You need at least 20 reputation to use report feature.</li>
                            <li>You can only report once and can not undo!</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="report-confirm">Report</button>
                </div>
            </div>
        </div>
    </div>
    <div id="favorite-return" class="alert create-message-success"></div>

    <form method="post" id="commentForm" th:object="${commentDTO}">
        <h5 class="mb-3">Comment</h5>
        <div class="comment-form-input">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="mr-1">
                    <img id="user-thumbnail" class="img-thumbnail" width="35" height="35"
                         th:src="${#authentication.principal.userProfileDTO.imageId!=null}?@{/api/image/}+${#authentication.principal.userProfileDTO.imageId}:@{/static/images/default_profile_picture.png}"
                         th:alt="${#authentication.principal.userProfileDTO.displayName}">
                </div>
                <div  class="pl-2 pt-1 pb-1 pr-2 mb-2 w-100">
                    <textarea class="form-control textarea-comment"
                              th:field="*{content}"
                              id="comment__content"
                              placeholder="Comment for activities"></textarea>
                    <div class="mb-2">
                        <div id="alertComment" class="text-danger text-alert-mes mb-2"></div>
                        <button class="btn btn-success" type="button" id="send__comment__btn">Comment</button>
                    </div>
                </div>
        </div>
    </form>
    <div class="mb-3"></div>
    <th:block th:replace="activity/fragments/comment"></th:block>
</div>
<th:block layout:fragment="custom-script">
    <script src="/static/js/image.js?n=1"></script>
    <script type="text/javascript" src="/static/js/rate.js"></script>
    <script type="text/javascript" src="/static/js/comment.js"></script>
    <script type="text/javascript" src="/static/js/favorite.js"></script>
    <script type="text/javascript" src="/static/js/report.js"></script>
</th:block>

</body>
</html>
